.vscode
.idea
*.pyc
*.csv
cli/__pycache__

# These directories are created when compile.sh is run
build
dist
#*.spec

# Testing script creates this. Not needed in repo
data.txt

# Matlab file extensions
*.m
